<div>
    <h2 id="page-heading">
        <span>Activities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-activity" [routerLink]="['/activity/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Activity
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="activities?.length === 0">
        <span>No activities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="activities && activities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Name</span></th>
                    <th scope="col" ><span>Description</span></th>
                    <th scope="col" ><span>Image</span></th>
                    <th scope="col" ><span>Activity Type</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let activity of activities ;trackBy: trackId">
                    <td><a [routerLink]="['/activity', activity.id, 'view']">{{ activity.id }}</a></td>
                    <td>{{ activity.name }}</td>
                    <td>{{ activity.description }}</td>
                    <td>
                        <a *ngIf="activity.image" (click)="openFile(activity.imageContentType, activity.image)">
                            <img [src]="'data:' + activity.imageContentType + ';base64,' + activity.image" style="max-height: 30px;" alt="activity image"/>
                        </a>
                        <span *ngIf="activity.image">{{ activity.imageContentType }}, {{ byteSize(activity.image) }}</span>
                    </td>
                    <td>
                        <div *ngIf="activity.activityTypeId">
                            <a [routerLink]="['/activity-type', activity.activityTypeId , 'view']" >{{ activity.activityTypeId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/activity', activity.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/activity', activity.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(activity)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
