<h2 id="page-heading" class="text-center mb-4">Bérleteim</h2>

<div *ngIf="loading" class="app-loading">
    <div class="lds-css ng-scope">
        <div class="lds-pacman">
            <div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-warning text-center w-50 mx-auto my-2" id="no-result"
     *ngIf="!loading && passes?.length === 0">
    <span class="text-light">Nincs megjeleníthető bérlet</span>
</div>

<div class="w-100 m-0 px-2 mb-4 row">
    <div class="container col-12 col-md-10 col-lg-8 col-xl-6" id="entities" *ngIf="!loading && passes && passes.length > 0">
        <div *ngFor="let pass of passes" class="card">
            <div class="card-body text-center">
                <div>{{ findPassTypeById(pass.passTypeId)?.name }}</div>
                <div>{{ pass.validFrom | date: 'yyyy.MM.dd.' }} - {{ pass.validTo | date: 'yyyy.MM.dd.' }}</div>
                <div>{{getPaymentName(pass.paymentStatus)}}</div>
                <p class="mt-2 mb-0">Bérletalkalmak</p>
                <div>{{ pass.usageNo }} / {{ findPassTypeById(pass.passTypeId)?.occasions }}</div>
            </div>
        </div>
    </div>
</div>
