<h2 id="page-heading" class="text-center mb-4">Bérleteim</h2>

<div *ngIf="loading" class="app-loading">
    <div class="lds-css ng-scope">
        <div class="lds-pacman">
            <div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-warning text-center w-50 mx-auto my-2" id="no-result"
     *ngIf="!loading && passes?.length === 0">
    <span class="text-light">Nincs megjeleníthető bérlet</span>
</div>

<div class="w-100 m-0 px-2 mb-4 row">
    <div class="container col-12 col-md-10 col-lg-8 col-xl-6" id="entities" *ngIf="!loading && passes && passes.length > 0">
        <div *ngFor="let pass of passes" class="card my-5 mx-auto" [class.active]="isPassPaid(pass.paymentStatus) && !isPassExpired(pass.validFrom, pass.validTo)">
            <div class="card-body text-center mx-0 row align-items-center">
                <div class="col-12 col-md-5 px-0">
                    <div>{{ findPassTypeById(pass.passTypeId)?.name }}</div>
                    <div>{{ pass.validFrom | date: 'yyyy.MM.dd.' }} - {{ pass.validTo | date: 'yyyy.MM.dd.' }}</div>
                </div>
                <div class="col-12 col-md-7 pass-display-container">
                    <div class="mb-2 h4">Bérletalkalmak</div>
                    <div class="pass-container mx-0 row justify-content-center align-items-end">
                        <div *ngFor="let ia of [].constructor(findPassTypeById(pass.passTypeId)?.occasions); let i = index"
                             class="pass-occasion" [class.used]="pass.totalUsageNo ? i < pass.totalUsageNo : false"></div>
                    </div>
                </div>
            </div>
            <fa-icon *ngIf="isPassPaid(pass.paymentStatus) && isPassExpired(pass.validFrom, pass.validTo)" icon="times" class="pass-icon"></fa-icon>
            <fa-icon *ngIf="isPassUnpaid(pass.paymentStatus)" icon="exclamation-circle" class="pass-icon"></fa-icon>
            <fa-icon *ngIf="isPassInProgress(pass.paymentStatus)" icon="clock" class="pass-icon"></fa-icon>
        </div>
    </div>
</div>
