<div *ngIf="event">
    <button type="submit" (click)="previousState()" class="btn btn-primary btn-icon">
        <fa-icon icon="arrow-left"></fa-icon>
    </button>

    <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button" [routerLink]="['/calendar', event.id, 'edit']" class="btn btn-primary btn-icon">
        <fa-icon icon="pen"></fa-icon>
    </button>

    <h2>{{ event.name }}</h2>

    <div id="zoom-card">
        <button *ngIf="!inMeeting" type="button" class="join-now btn btn-primary" (click)="joinMeeting()">Csatlakozás</button>
        <div id="zoom-container"></div>
    </div>

    <dl class="row-md jh-entity-details">
        <ng-template *ngIf="event.streamLinkType !== 'ZOOM'">
            <dt><span>Link típusa</span></dt>
            <dd>
                <span>{{ event.streamLinkType }}</span>
            </dd>
            <dt><span>Link</span></dt>
            <dd>
                <span>{{ event.streamLink }}</span>
            </dd>
        </ng-template>
        <dt><span>Leírás</span></dt>
        <dd>
            <span>{{ event.comment }}</span>
        </dd>
        <dt><span>Szervező</span></dt>
        <dd>
            <div *ngIf="event.organizer">
                <a [routerLink]="['/trainers', event.organizer.id, 'view']">{{ event.organizer.fullName }}</a>
            </div>
        </dd>
        <ng-container *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <dt><span>Jelentkezők</span></dt>
            <dd>
                    <span *ngFor="let participants of event.participants; let last = last">
                        <a [routerLink]="['/application-user', participants?.id, 'view']">{{ participants.fullName }}</a>{{ last ? '' : ', ' }}
                    </span>
            </dd>
        </ng-container>
    </dl>
</div>
