<div *ngIf="event">
    <div class="row justify-content-between">
        <button type="submit" (click)="previousState()" class="btn btn-link">
            <fa-icon icon="chevron-left"></fa-icon> Vissza
        </button>
        <form class="col-8 row text-center" [formGroup]="editForm">
            <div class="form-group col-3">
                <label class="form-control-label" for="video_input">Videó forrás kiválasztása</label>
                <select class="form-control" name="video_input" id="video_input" formControlName="videoSource" [attr.disabled]="videoDevices.length ? null : ''">
                    <option *ngFor="let videoDevice of videoDevices; let i = index" [ngValue]="videoDevice.deviceId">
                        {{ videoDevice.label.length ? videoDevice.label : 'Videó forrás ' + i + 1}}
                    </option>
                </select>
            </div>

            <div class="form-group col-3">
                <label class="form-control-label" for="audio_input">Hang forrás kiválasztása</label>
                <select class="form-control" name="audio_input" id="audio_input" formControlName="audioSource" [attr.disabled]="audioDevices.length ? null : ''">
                    <option *ngFor="let audioDevice of audioDevices; let i = index" [ngValue]="audioDevice.deviceId">
                        {{ audioDevice.label.length ? audioDevice.label : 'Hang forrás ' + i + 1}}
                    </option>
                </select>
            </div>

            <div class="form-group col-3 row" *jhiHasAnyAuthority="['ROLE_EDITOR','ROLE_ADMIN']">
                <label class="form-control-label col-12" for="music">Zene lejátszás</label>
                <input type="file" class="form-control col-10" name="video_input_select" id="music" formControlName="musicSource" />
                <div class="col-2">
                    <button class="btn btn-primary btn-icon">
                        <fa-icon icon="play"></fa-icon>
                    </button>
                </div>
            </div>
        </form>
        <div>
            <button *ngIf="inMeeting" type="button" class="btn btn-danger btn-icon" (click)="leaveChannel()">
                <fa-icon icon="phone-slash"></fa-icon>
            </button>
            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button" [routerLink]="['/calendar', event.id, 'edit']" class="btn btn-primary btn-icon">
                <fa-icon icon="pen"></fa-icon>
            </button>
        </div>
    </div>

    <h2>{{ event.name }}</h2>

    <div *ngIf="isEventOnline(event.streamLinkType)" class="videoContainer">
        <div #myVideoContainer id="myVideoContainer" class="row text-center justify-content-center mainVideoContainer">
            <div *ngIf="!inMeeting">
                <button type="button" class="btn btn-success btn-icon" (click)="join()">
                    <fa-icon icon="phone"></fa-icon>
                </button>
            </div>
        </div>
    </div>

    <div #remoteVideoContainer id="remoteVideoContainer" class="row text-center justify-content-center flatVideoContainer">
    </div>

    <div class="w-100 row mx-0">
        <dl class="text-center col-12 mx-auto px-0 jh-entity-details">
            <ng-container *ngIf="!isEventOnline(event.streamLinkType)">
                <dt><span>Óra helyszíne</span></dt>
                <dd>
                    <span>{{ getLinkTypeName(event.streamLinkType?.toString()) }}</span>
                </dd>
                <dt><span>Link</span></dt>
                <dd>
                    <span>{{ event.streamLink }}</span>
                </dd>
            </ng-container>
            <ng-container *ngIf="event.comment">
                <dt><span>Leírás</span></dt>
                <dd>
                    <span>{{ event.comment }}</span>
                </dd>
            </ng-container>
            <ng-container *ngIf="event.organizer">
                <dt><span>Oktató</span></dt>
                <dd>
                    <div>
                        <a [routerLink]="['/trainers']">{{ event.organizer?.internalUser?.lastName }} {{ event.organizer?.internalUser?.firstName }}</a>
                    </div>
                </dd>
            </ng-container>
            <ng-container *jhiHasAnyAuthority="['ROLE_EDITOR', 'ROLE_ADMIN']">
                <dt><span>Jelentkezők</span></dt>
                <dd>
                    <span *ngFor="let participant of event.participants; let last = last">
                        <a [routerLink]="['/admin/user-management', participant?.id, 'view']" [class.text-red]="isParticipantHaveProblem(participant)">
                            {{ participant?.internalUser?.lastName }} {{ participant?.internalUser?.firstName }}
                            <fa-icon *ngIf="isParticipantHaveProblem(participant)" icon="exclamation-circle" class="red"></fa-icon>
                        </a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </ng-container>
        </dl>
    </div>
</div>
