<div *ngIf="event">
    <div class="row justify-content-between">
        <button type="submit" (click)="previousState()" class="btn btn-link">
            <fa-icon icon="chevron-left"></fa-icon> Vissza
        </button>
        <div>
            <button *ngIf="inMeeting" type="button" class="btn btn-danger btn-icon" (click)="leaveChannel()">
                <fa-icon icon="phone-slash"></fa-icon>
            </button>
            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button" [routerLink]="['/calendar', event.id, 'edit']" class="btn btn-primary btn-icon">
                <fa-icon icon="pen"></fa-icon>
            </button>
        </div>
    </div>

    <h2>{{ event.name }}</h2>

    <div *ngIf="isEventOnline(event.streamLinkType)" class="videoContainer">
        <div #myVideoContainer id="myVideoContainer" class="row text-center justify-content-center mainVideoContainer">
            <div *ngIf="!inMeeting">
                <button type="button" class="btn btn-success btn-icon" (click)="join()">
                    <fa-icon icon="phone"></fa-icon>
                </button>
            </div>
        </div>
    </div>

    <div #remoteVideoContainer id="remoteVideoContainer" class="row text-center justify-content-center flatVideoContainer">
    </div>

    <div class="w-100 row mx-0">
        <dl class="text-center col-12 mx-auto px-0 jh-entity-details">
            <ng-container *ngIf="!isEventOnline(event.streamLinkType)">
                <dt><span>Óra helyszíne</span></dt>
                <dd>
                    <span>{{ getLinkTypeName(event.streamLinkType?.toString()) }}</span>
                </dd>
                <dt><span>Link</span></dt>
                <dd>
                    <span>{{ event.streamLink }}</span>
                </dd>
            </ng-container>
            <ng-container *ngIf="event.comment">
                <dt><span>Leírás</span></dt>
                <dd>
                    <span>{{ event.comment }}</span>
                </dd>
            </ng-container>
            <ng-container *ngIf="event.organizer">
                <dt><span>Oktató</span></dt>
                <dd>
                    <div>
                        <a [routerLink]="['/trainers', event.organizer.id, 'view']">{{ event.organizer?.internalUser?.lastName }} {{ event.organizer?.internalUser?.firstName }}</a>
                    </div>
                </dd>
            </ng-container>
            <ng-container *jhiHasAnyAuthority="['ROLE_EDITOR']">
                <dt><span>Jelentkezők</span></dt>
                <dd>
                    <span *ngFor="let participant of event.participants; let last = last">
                        <a [routerLink]="['/admin/user-management', participant?.id, 'view']" [class.text-red]="isParticipantHaveProblem(participant)">
                            {{ participant?.internalUser?.lastName }} {{ participant?.internalUser?.firstName }}
                            <fa-icon *ngIf="isParticipantHaveProblem(participant)" icon="exclamation-circle" class="red"></fa-icon>
                        </a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </ng-container>
        </dl>
    </div>
</div>
