@import '../../../content/scss/variables';

:host {
  h2 {
    width: 100%;
    text-align: center;
  }
  p {
    width: 100%;
    padding-bottom: 15px;
    text-align: center;
  }

  div.videoContainer {
    height: fit-content;
    width: fit-content;
    margin: 35px auto;
    padding: 12px 0;
    background-color: $mv-navbar;
    box-shadow: 0 0 25px 0 $mv-shadow-primary;

    .mainVideoContainer {
      position: relative;
      min-height: 300px;
      min-width: 260px;
      border: 2px solid $mv-dark;
      margin: -25px 12px;
      padding: 25px 0;

      button {
        position: absolute;
        margin: 0;
        top: calc(50% - 19px);
        left: calc(50% - 21px);
        z-index: 100;
      }
    }
  }

  div.flatVideoContainer {
    height: fit-content;
    width: 100%;
    margin: 20px 0;
  }

  .text-red {
    color: $mv-danger !important;
  }
}
