:host {
  position: relative;
  height: 800px;
  width: 175px;
  margin: 0 -2px;
  border-left: 4px solid gray;
  border-right: 4px solid gray;

  h3 {
    width: fit-content;
    min-width: 38px;
    margin: 10px auto auto auto;
    padding: 5px;
    font-size: 1.5rem;
    border-radius: 25px;

    &.active {
      background-color: lightgray;
    }
  }

  .day {
    background: lightgray;
    margin: 15px auto 10px auto;
    max-width: 120px;
    padding: 7px 6px;

    p {
      margin: -14px 6px;
      padding: 2px 0;
      height: fit-content;
      border: 3px solid gray;
      font-size: 1.2rem;
    }
  }
}
