/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
    background-size: contain;
  }
}

:host {
  text-align: right;

  .container {
    text-align: left;
    padding: 0 25px 25px 25px;

    .category-header {
      margin: 5px -25px 25px -25px;
      padding: 10px 50px;
      border-bottom: 2px solid gray;
    }

    .category-item {
      margin: 15px 15px 0 15px;
      padding-bottom: 15px;
      border-bottom: solid 1px darkgray;

      h4 {
        margin: 0 -25px;
        font-size: 1.2rem;
      }

      p {
        margin: 0;
        font-size: 0.9rem;
      }

      &:first-child {
        margin-top: 50px;
      }

      &:last-child {
        margin-bottom: 10px;
        border-bottom: none;
      }

      .category-price h4 {
        text-align: right;
        margin-top: 10px;
        font-size: 1.4rem;
      }
    }
  }

  .btn.btn-icon {
    margin: 2px;
  }

  div.barion-container {
    position: absolute;
    width: 100vw;
    bottom: 0;
    right: -15px;
  }
}
