<button *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn btn-primary" [routerLink]="['/prices/new']">
    Létrehozás
</button>

<h2 id="page-heading" class="text-center mb-4">Árak</h2>

<div *ngIf="loading" class="app-loading">
    <div class="lds-css ng-scope">
        <div class="lds-pacman">
            <div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-warning text-center w-50 mx-auto my-2" id="no-result"
     *ngIf="!loading && passTypes?.length === 0">
    <span class="text-light">Még nincsenek árak feltöltve</span>
</div>

<div class="w-100 m-0 px-2 mb-4 row justify-content-center" *ngIf="!loading && passTypes && passTypes.length > 0">
    <div class="alert alert-danger col-12 col-md-10 col-lg-8 col-xl-6 text-center">Online fizetés hamarosan</div>
    <div class="w-100"></div>
    <div class="container col-12 col-md-10 col-lg-8 col-xl-6" id="entities">
        <div *ngFor="let activityType of activityTypes">
            <h3 class="category-header">
                {{activityType.name}}
            </h3>
            <div *ngFor="let passType of getPassTypesByActivityType(activityType)" class="category-item row">
                <div class="col-md-4">
                    <h4>{{passType.name}} <span class="h6" *ngIf="passType.description">({{passType.description}})</span> </h4>
                    <p>Érvényes: {{passType.durationDays ? durationToString(passType.durationDays) : 'felhasználásig'}}</p>
                </div>
                <div class="col-md-4 text-center my-2">
                    <button type="submit" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                            [routerLink]="['/prices', passType.id, 'view']"
                            class="btn btn-primary btn-icon">
                        <fa-icon icon="eye"></fa-icon>
                    </button>

                    <button type="submit" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                            (click)="delete(passType)"
                            class="btn btn-primary btn-icon">
                        <fa-icon icon="trash"></fa-icon>
                    </button>
                </div>
                <div class="col-md-4 category-price">
                    <h4 class="mt-0">
                        {{passType.price | number: '1.0':'hu'}} {{passType.unit}}
                        <button type="button" (click)="purchase(passType.id)" disabled
                                class="btn btn-outline-primary btn-icon ml-2">
                            <fa-icon icon="cart-plus"></fa-icon>
                        </button>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="barion-container text-center text-lg-right">
    <img src="/content/images/barion-card-strip-intl_200px.png" class="barion" alt="barion logó"/>
</div>

