<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="passType">
            <h2><span>Pass Type</span> {{ passType.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ passType.name }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ passType.description }}</span>
                </dd>
                <dt><span>Duration Days</span></dt>
                <dd>
                    <span>{{ passType.durationDays }}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{ passType.price }}</span>
                </dd>
                <dt><span>Occasions</span></dt>
                <dd>
                    <span>{{ passType.occasions }}</span>
                </dd>
                <dt><span>Available For Type</span></dt>
                <dd>
                    <div *ngIf="passType.availableForType">
                        <a [routerLink]="['/activity-type', passType.availableForType, 'view']">{{ passType.availableForType }}</a>
                    </div>
                </dd>
                <dt><span>Available For Activity</span></dt>
                <dd>
                    <div *ngIf="passType.availableForActivityId">
                        <a [routerLink]="['/activity', passType.availableForActivityId, 'view']">{{ passType.availableForActivityId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pass-type', passType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
