<div>
    <h2 id="page-heading">
        <span>Bérlet típusok</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pass-type"
                [routerLink]="['/pass-type/new']">
            Létrehozás
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="passTypes?.length === 0">
        <span>No passTypes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="passTypes && passTypes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th scope="col"><span>Név</span></th>
                <th scope="col"><span>Leírás</span></th>
                <th scope="col"><span>Érvényesség</span></th>
                <th scope="col"><span>Ár</span></th>
                <th scope="col"><span>Alkalmak</span></th>
                <th scope="col"><span>Foglalkozás típus</span></th>
                <th scope="col"><span>Foglalkozás</span></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let passType of passTypes ;trackBy: trackId">
                <td>{{ passType.name }}</td>
                <td>{{ passType.description }}</td>
                <td>{{ passType.durationDays }}</td>
                <td>{{ passType.price }}</td>
                <td>{{ passType.occasions }}</td>
                <td>
                    <div *ngIf="passType.availableForType">
                        <a [routerLink]="['/activity-type', passType.availableForType.id , 'view']">{{ passType.availableForType.name }}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="passType.availableForActivityId">
                        <a [routerLink]="['/activity', passType.availableForActivityId , 'view']">{{ passType.availableForActivityId }}</a>
                    </div>
                </td>
                <td class="text-right">
                    <button type="submit"
                            [routerLink]="['/pass-type', passType.id, 'edit']"
                            class="btn btn-primary btn-sm">
                        Szerkesztés
                    </button>

                    <button type="submit" (click)="delete(passType)"
                            class="btn btn-danger btn-sm">
                        Törlés
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
