<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-pass-type-heading">Create or edit a Pass Type</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_durationDays">Duration Days</label>
                    <input type="number" class="form-control" name="durationDays" id="field_durationDays"
                           formControlName="durationDays"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_price">Price</label>
                    <input type="text" class="form-control" name="price" id="field_price"
                           formControlName="price"/>
                    <div *ngIf="editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('price')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_occasions">Occasions</label>
                    <input type="number" class="form-control" name="occasions" id="field_occasions"
                           formControlName="occasions"/>
                    <div *ngIf="editForm.get('occasions')!.invalid && (editForm.get('occasions')!.dirty || editForm.get('occasions')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('occasions')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('occasions')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_availableForType">Available For Type</label>
                    <select class="form-control" id="field_availableForType" name="availableForType" formControlName="availableForTypeId">
                        <option *ngIf="!editForm.get('availableForTypeId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="activityTypeOption.id" *ngFor="let activityTypeOption of activitytypes; trackBy: trackById">{{ activityTypeOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('availableForTypeId')!.invalid && (editForm.get('availableForTypeId')!.dirty || editForm.get('availableForTypeId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('availableForTypeId')?.errors?.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_availableForActivity">Available For Activity</label>
                    <select class="form-control" id="field_availableForActivity" name="availableForActivity" formControlName="availableForActivityId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="activityOption.id" *ngFor="let activityOption of activities; trackBy: trackById">{{ activityOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
