@import '../../../content/scss/variables';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 8px;
  width: 150px;
  height: 100px;
  padding: 5px;
  margin-right: -75px;
  box-shadow: 0 0 5px $mv-shadow-primary;
  background-color: $mv-navbar;

  .time {
    font-weight: 700;
    font-size: 0.8rem;
  }

  .organizer {
    font-size: 0.6rem;
  }

  &.past {
    background-color: $mv-pastel;
  }
}
