<div class="row justify-content-center">

    <div class="col-12">
        <button type="button" class="btn btn-link" (click)="previousState()">
            <fa-icon icon="chevron-left"></fa-icon>
            Vissza
        </button>
    </div>

    <div class="col-12 col-md-10 col-lg-8 col-xl-6">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-activity-heading" class="text-center">{{!editForm.get('id')?.value ? "Foglalkozás létrehozása" : "Foglalkozás áttekintése" }}</h2>

            <div class="my-4">
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Név</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div
                        *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required">
                            A mező kitöltése kötelező
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_description">Leírás</label>
                    <textarea type="text" class="form-control" name="description" id="field_description" formControlName="description"></textarea>
                    <div
                        *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('description')?.errors?.required">
                            A mező kitöltése kötelező
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_image">Kép</label>
                    <div>
                        <img
                            [src]="'data:' + editForm.get('imageContentType')!.value + ';base64,' + editForm.get('image')!.value"
                            style="max-height: 100px;" *ngIf="editForm.get('image')!.value" alt="activity image"/>
                        <div *ngIf="editForm.get('image')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('imageContentType')!.value }}
                                , {{ byteSize(editForm.get('image')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('image', 'imageContentType', 'file_image')"
                                    class="btn btn-icon btn-danger btn-xs pull-right">
                                <fa-icon icon="trash"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_image" (change)="setFileData($event, 'image', true)"
                               accept="image/*" class="form-control-file" />
                    </div>
                    <input type="hidden" class="form-control" name="image" id="field_image"
                           formControlName="image"/>
                    <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                           formControlName="imageContentType"/>
                    <div
                        *ngIf="editForm.get('image')!.invalid && (editForm.get('image')!.dirty || editForm.get('image')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('image')?.errors?.required">
                            A mező kitöltése kötelező
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_activityType">Foglalkozás típus</label>
                    <select class="form-control" id="field_activityType" name="activityType"
                            formControlName="activityTypeId">
                        <option *ngIf="!editForm.get('activityTypeId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="activityTypeOption.id"
                                *ngFor="let activityTypeOption of activityTypes; trackBy: trackById">{{ activityTypeOption.name }}</option>
                    </select>
                </div>
                <div
                    *ngIf="editForm.get('activityTypeId')!.invalid && (editForm.get('activityTypeId')!.dirty || editForm.get('activityTypeId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('activityTypeId')?.errors?.required">
                        A mező kitöltése kötelező
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_external_link">Külső link jelentkezéshez</label>
                    <input type="text" class="form-control" name="externalLink" id="field_external_link" formControlName="externalLink"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_trainer">Oktató</label>
                    <select type="text" class="form-control" name="trainer" id="field_trainer" formControlName="trainer">
                        <option *ngIf="!editForm.get('trainer')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="appUser.id" *ngFor="let appUser of appUsers; trackBy: trackByUserId">{{ appUser?.internalUser?.lastName + " " + appUser?.internalUser?.lastName }}</option>
                    </select>
                </div>

            </div>

            <div class=" text-center text-md-right">
                <button type="button" id="cancel-save" class="btn btn-outline-secondary" (click)="previousState()">
                    Mégse
                </button>

                <button type="submit" id="save-entity" [disabled]="isSaving"
                        class="btn btn-primary">
                    Mentés
                </button>
            </div>
        </form>
    </div>
</div>
