<h2>
    Adatkezelési nyilatkozat és tájékoztató
    <a href="/content/maxmove_adatkez_taj_210411.pdf" class="btn btn-primary btn-icon mt-0"><fa-icon icon="file-download"></fa-icon></a>
</h2>

<embed src="/content/maxmove_adatkez_taj_210411.pdf" type="application/pdf">

<h2 class="mt-5">
    Általnos Szerződési Feltételek
    <a href="/content/maxmove_ászf_210411.pdf" class="btn btn-primary btn-icon mt-0"><fa-icon icon="file-download"></fa-icon></a>
</h2>

<embed src="/content/maxmove_ászf_210411.pdf" type="application/pdf">

<h2 class="mt-5">
    Adatvédelmi tájékoztató
    <a href="/content/maxmove_adatvédelmi_taj_210411.pdf" class="btn btn-primary btn-icon mt-0"><fa-icon icon="file-download"></fa-icon></a>
</h2>

<embed src="/content/maxmove_adatvédelmi_taj_210411.pdf" type="application/pdf">
