<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6">
        <form name="editForm" role="form" class="text-center text-md-right" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-application-user-heading" class="text-center mb-4">
                Adatlap
            </h2>

            <div class="alert alert-success text-center" *ngIf="success">
                <strong>Változtatások mentve!</strong>
            </div>

            <div class="alert alert-warning text-center text-white" *ngIf="!isAllDataGiven()">
                Töltsd ki az adataidat, hogy teljesértékűen használhasd az oldalt!
            </div>

            <div class="btn-group btn-group-toggle mb-4 text-center w-100" ngbRadioGroup name="radioBasic" formControlName="stepper">
                <label ngbButtonLabel class="btn-primary h-auto">
                    <input ngbButton type="radio" [value]="1"> Rendszer adatok
                </label>
                <label ngbButtonLabel class="btn-primary h-auto">
                    <input ngbButton type="radio" [value]="2"> Egészségügyi adatok
                </label>
            </div>

            <div *ngIf="this.editForm.get(['stepper'])!.value === 1"  class="row align-items-center text-left">
                <div class="form-group col-md-6">
                    <label class="form-control-label" for="field_lastName">Vezetéknév</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                    <div
                        *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastName')?.errors?.required">
                            Mező kitöltése kötelező
                        </small>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="form-control-label" for="field_firstName">Keresztnév</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                    <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('firstName')?.errors?.required">
                            Mező kitöltése kötelező
                        </small>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="form-control-label" for="field_user_birthDay">Születési idő</label>
                    <div *ngIf="isEdit" class="input-group pr-0">
                        <input id="field_user_birthDay" type="text" class="form-control" name="userBirthDay" ngbDatepicker #validToDp="ngbDatepicker" formControlName="userBirthDay"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-primary btn-icon" (click)="validToDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('userBirthDay')!.invalid && (editForm.get('userBirthDay')!.dirty || editForm.get('userBirthDay')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('userBirthDay')?.errors?.required">
                            Mező kitöltése kötelező
                        </small>
                    </div>
                    <div *ngIf="!isEdit" class="px-3 font-weight-bold my-3">
                        <p>{{ editForm.get('userBirthDay')?.value ? (editForm.get('userBirthDay')!.value | date:'longDate') : "" }}</p>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="form-control-label" for="field_sex">Nem</label>
                    <select class="form-control" name="sex" formControlName="sex" id="field_sex">
                        <option value="MAN">Férfi</option>
                        <option value="WOMAN">Nő</option>
                        <option value="OTHER">Egyéb</option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label class="form-control-label">Email</label>
                    <input type="email" class="form-control" name="email" formControlName="email">

                    <div
                        *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email')?.errors?.required">
                            Mező kitöltése kötelező
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email')?.errors?.maxlength">
                            Az e-mail cím maximum 100 karakter hosszú lehet
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email')?.errors?.minlength">
                            Az e-mail cím minimum 5 karakter hosszú lehet
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email')?.errors?.email">
                            Hibás e-mail cím
                        </small>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="form-control-label" for="field_image">Profilkép</label>
                    <div>
                        <img
                            [src]="'data:' + editForm.get('imageContentType')!.value + ';base64,' + editForm.get('image')!.value"
                            style="max-height: 100px;" *ngIf="editForm.get('image')!.value" alt="appUser image"/>
                        <button type="button" *ngIf="editForm.get('image')!.value && isEdit"
                                (click)="clearInputImage('image', 'imageContentType', 'file_image')"
                                class="btn btn-secondary btn-icon btn-xs pull-right">
                            <fa-icon icon="times"></fa-icon>
                        </button>
                        <input type="file" id="file_image" [hidden]="!isEdit" (change)="setFileData($event, 'image', true)"
                               accept="image/*" class="form-control-file"/>
                    </div>
                    <input type="hidden" class="form-control" name="image" id="field_image"
                           formControlName="image"/>
                    <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                           formControlName="imageContentType"/>
                </div>

                <div class="form-group mx-0 col-12 row align-items-center justify-content-center">
                    <label class="col-12 px-0">Nyilatkozat</label>
                    <label for="field_gdprAccepted" class="col-12 px-0 row">
                        <input type="checkbox" name="gdprAccepted" id="field_gdprAccepted" formControlName="gdprAccepted" class="col-1 col-xs-2 pr-2" />
                        <div class="col-11 col-xs-10 px-0">Nyilatkozom, hogy az adatkezelési tájékoztatót (GDPR) elolvastam és elfogadom</div>
                    </label>
                    <div *ngIf="editForm.get('gdprAccepted')!.invalid && (editForm.get('gdprAccepted')!.dirty || editForm.get('gdprAccepted')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('gdprAccepted')?.errors?.required">
                            Mező kitöltése kötelező
                        </small>
                    </div>
                </div>
            </div>

            <div *ngIf="this.editForm.get(['stepper'])!.value === 2" class="row align-items-center text-left">
                <div class="form-group mx-0 col-12 row align-items-center justify-content-center">
                    <label class="col-12 px-0">Korábbi sérülések</label>
                    <label for="field_injury_none" class="col-md-2 px-0">
                        <input type="radio" name="injury" id="field_injury_none" formControlName="injury" [value]="getNone()" [checked]="this.editForm.get('injury')?.value === getNone()" class="col-1 col-md-2 mr-2" />
                        Nincs
                    </label>
                    <label for="field_injury" class="col-md-10 px-0 row align-items-center">
                        <input type="radio" name="injury" id="field_injury" formControlName="injury" class="col-1"
                               [value]="this.editForm.get('injuryText')?.value"
                               [checked]="this.editForm.get('injury')?.value !== undefined && this.editForm.get('injury')?.value !== getNone()" />
                        <input type="text" class="col-11" name="injuryText" id="field_injury_text" formControlName="injuryText" [(ngModel)]="injuryText" />
                    </label>
                    <div *ngIf="editForm.get('injury')!.invalid && (editForm.get('injury')!.dirty || editForm.get('injury')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('injury')?.errors?.required">
                            Mező kitöltése kötelező
                        </small>
                    </div>
                </div>

                <div class="form-group mx-0 col-12 row align-items-center justify-content-center">
                    <label class="col-12 px-0">Műtéti beavatkozások</label>
                    <label for="field_surgery_none" class="col-md-2 px-0">
                        <input type="radio" name="surgery" id="field_surgery_none" formControlName="surgery" [value]="getNone()" [checked]="this.editForm.get('surgery')?.value === getNone()" class="col-1 col-md-2 mr-2" />
                        Nincs
                    </label>
                    <label for="field_surgery" class="col-md-10 px-0 row align-items-center">
                        <input type="radio" name="surgery" id="field_surgery" formControlName="surgery" class="col-1"
                               [value]="this.editForm.get('surgeryText')?.value"
                               [checked]="this.editForm.get('surgery')?.value !== undefined && this.editForm.get('surgery')?.value !== getNone()" />
                        <input type="text" class="col-11" name="surgeryText" id="field_surgery_text" formControlName="surgeryText"/>
                    </label>
                    <div *ngIf="editForm.get('surgery')!.invalid && (editForm.get('surgery')!.dirty || editForm.get('surgery')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('surgery')?.errors?.required">
                            Mező kitöltése kötelező
                        </small>
                    </div>
                </div>

                <div class="form-group mx-0 col-12 row align-items-center justify-content-center">
                    <label class="col-12 px-0">Szív- vagy vérnyomásproblémák</label>
                    <label for="field_heartProblem_none" class="col-md-2 px-0">
                        <input type="radio" name="heartProblem" id="field_heartProblem_none" formControlName="heartProblem" [value]="getNone()" [checked]="this.editForm.get('heartProblem')?.value === getNone()" class="col-1 col-md-2 mr-2" />
                        Nincs
                    </label>
                    <label for="field_heartProblem" class="col-md-10 px-0 row align-items-center">
                        <input type="radio" name="heartProblem" id="field_heartProblem" formControlName="heartProblem" class="col-1"
                               [value]="this.editForm.get('heartProblemText')?.value"
                               [checked]="this.editForm.get('heartProblem')?.value !== undefined && this.editForm.get('heartProblem')?.value !== getNone()" />
                        <input type="text" class="col-11" name="heartProblemText" id="field_heartProblem_text" formControlName="heartProblemText"/>
                    </label>
                    <div *ngIf="editForm.get('heartProblem')!.invalid && (editForm.get('heartProblem')!.dirty || editForm.get('heartProblem')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('heartProblem')?.errors?.required">
                            Mező kitöltése kötelező
                        </small>
                    </div>
                </div>

                <div class="form-group mx-0 col-12 row align-items-center justify-content-center">
                    <label class="col-12 px-0">Légzőszervi megbetegedések</label>
                    <label for="field_respiratoryDisease_none" class="col-md-2 px-0">
                        <input type="radio" name="respiratoryDisease" id="field_respiratoryDisease_none" formControlName="respiratoryDisease" [value]="getNone()" [checked]="this.editForm.get('respiratoryDisease')?.value === getNone()" class="col-1 col-md-2 mr-2" />
                        Nincs
                    </label>
                    <label for="field_respiratoryDisease" class="col-md-10 px-0 row align-items-center">
                        <input type="radio" name="respiratoryDisease" id="field_respiratoryDisease" formControlName="respiratoryDisease" class="col-1"
                               [value]="this.editForm.get('respiratoryDiseaseText')?.value"
                               [checked]="this.editForm.get('respiratoryDisease')?.value !== undefined && this.editForm.get('respiratoryDisease')?.value !== getNone()" />
                        <input type="text" class="col-11" name="respiratoryDiseaseText" id="field_respiratoryDisease_text" formControlName="respiratoryDiseaseText"/>
                    </label>
                    <div *ngIf="editForm.get('respiratoryDisease')!.invalid && (editForm.get('respiratoryDisease')!.dirty || editForm.get('respiratoryDisease')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('respiratoryDisease')?.errors?.required">
                            Mező kitöltése kötelező
                        </small>
                    </div>
                </div>

                <div class="form-group mx-0 col-12 row align-items-center justify-content-center">
                    <label class="col-12 px-0">Gerinc- vagy egyéb izületi problémák</label>
                    <label for="field_spineProblem_none" class="col-md-2 px-0">
                        <input type="radio" name="spineProblem" id="field_spineProblem_none" formControlName="spineProblem" [value]="getNone()" [checked]="this.editForm.get('spineProblem')?.value === getNone()" class="col-1 col-md-2 mr-2" />
                        Nincs
                    </label>
                    <label for="field_spineProblem" class="col-md-10 px-0 row align-items-center">
                        <input type="radio" name="spineProblem" id="field_spineProblem" formControlName="spineProblem" class="col-1"
                               [value]="this.editForm.get('spineProblemText')?.value"
                               [checked]="this.editForm.get('spineProblem')?.value !== undefined && this.editForm.get('spineProblem')?.value !== getNone()" />
                        <input type="text" class="col-11" name="spineProblemText" id="field_spineProblem_text" formControlName="spineProblemText"/>
                    </label>
                    <div *ngIf="editForm.get('spineProblem')!.invalid && (editForm.get('spineProblem')!.dirty || editForm.get('spineProblem')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('spineProblem')?.errors?.required">
                            Mező kitöltése kötelező
                        </small>
                    </div>
                </div>

                <div class="form-group mx-0 col-12 row align-items-center justify-content-center">
                    <label class="col-12 px-0">Rendszeres fájdalmak</label>
                    <label for="field_regularPain_none" class="col-md-2 px-0">
                        <input type="radio" name="regularPain" id="field_regularPain_none" formControlName="regularPain" [value]="getNone()" [checked]="this.editForm.get('regularPain')?.value === getNone()" class="col-1 col-md-2 mr-2" />
                        Nincs
                    </label>
                    <label for="field_regularPain" class="col-md-10 px-0 row align-items-center">
                        <input type="radio" name="regularPain" id="field_regularPain" formControlName="regularPain" class="col-1"
                               [value]="this.editForm.get('regularPainText')?.value"
                               [checked]="this.editForm.get('regularPain')?.value !== undefined && this.editForm.get('regularPain')?.value !== getNone()" />
                        <input type="text" class="col-11" name="regularPainText" id="field_regularPain_text" formControlName="regularPainText"/>
                    </label>
                    <div *ngIf="editForm.get('regularPain')!.invalid && (editForm.get('regularPain')!.dirty || editForm.get('regularPain')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('regularPain')?.errors?.required">
                            Mező kitöltése kötelező
                        </small>
                    </div>
                </div>

                <div class="form-group mx-0 col-12 row align-items-center justify-content-center">
                    <label class="col-12 px-0">Rendszeresen szedett gyógyszerek</label>
                    <label for="field_medicine_none" class="col-md-2 px-0">
                        <input type="radio" name="medicine" id="field_medicine_none" formControlName="medicine" [value]="getNone()" [checked]="this.editForm.get('medicine')?.value === getNone()" class="col-1 col-md-2 mr-2" />
                        Nincs
                    </label>
                    <label for="field_medicine" class="col-md-10 px-0 row align-items-center">
                        <input type="radio" name="medicine" id="field_medicine" formControlName="medicine" class="col-1"
                               [value]="this.editForm.get('medicineText')?.value"
                               [checked]="this.editForm.get('medicine')?.value !== undefined && this.editForm.get('medicine')?.value !== getNone()" />
                        <input type="text" class="col-11" name="medicineText" id="field_medicine_text" formControlName="medicineText"/>
                    </label>
                    <div *ngIf="editForm.get('medicine')!.invalid && (editForm.get('medicine')!.dirty || editForm.get('medicine')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('medicine')?.errors?.required">
                            Mező kitöltése kötelező
                        </small>
                    </div>
                </div>

                <div class="form-group mx-0 col-12 row align-items-center justify-content-center">
                    <label class="col-12 px-0">Bármi egyéb</label>
                    <label for="field_otherProblem_none" class="col-md-2 px-0">
                        <input type="radio" name="otherProblem" id="field_otherProblem_none" formControlName="otherProblem" [value]="getNone()" [checked]="this.editForm.get('otherProblem')?.value === getNone()"  class="col-1 col-md-2 mr-2" />
                        Nincs
                    </label>
                    <label for="field_otherProblem" class="col-md-10 px-0 row align-items-center">
                        <input type="radio" name="otherProblem" id="field_otherProblem" formControlName="otherProblem" class="col-1"
                               [value]="this.editForm.get('otherProblemText')?.value"
                               [checked]="this.editForm.get('otherProblem')?.value !== undefined && this.editForm.get('otherProblem')?.value !== getNone()" />
                        <input type="text" class="col-11" name="otherProblemText" id="field_otherProblem_text" formControlName="otherProblemText"/>
                    </label>
                    <div *ngIf="editForm.get('otherProblem')!.invalid && (editForm.get('otherProblem')!.dirty || editForm.get('otherProblem')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('otherProblem')?.errors?.required">
                            Mező kitöltése kötelező
                        </small>
                    </div>
                </div>

                <div class="form-group mx-0 col-12 row align-items-center justify-content-center">
                    <label class="col-12 px-0">Nyilatkozat</label>
                    <label for="field_selfResponsibility" class="col-12 px-0 row">
                        <input type="checkbox" name="selfResponsibility" id="field_selfResponsibility" formControlName="selfResponsibility" class="col-1 col-xs-2 pr-2" />
                        <div class="col-11 col-xs-10 px-0">Nyilatkozom, hogy a fent megadott adatok a valóságnak megfelelnek és az online órákon csak saját felelősségemre veszek részt</div>
                    </label>
                    <div *ngIf="editForm.get('selfResponsibility')!.invalid && (editForm.get('selfResponsibility')!.dirty || editForm.get('selfResponsibility')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('selfResponsibility')?.errors?.required">
                            Mező kitöltése kötelező
                        </small>
                    </div>
                </div>
            </div>


            <div class="text-center text-md-right mt-3">
                <button *ngIf="isEdit && this.editForm.get(['stepper'])?.value === 1" type="button" id="next-page" class="btn btn-primary" (click)="stepToNextTab()">
                    Következő
                </button>

                <button *ngIf="isEdit && this.editForm.get(['stepper'])?.value !== 1" type="submit" id="save-entity" [disabled]="isSaving"
                        class="btn btn-primary">
                    Mentés
                </button>

                <button *ngIf="!isEdit" type="button" id="edit-entity" class="btn btn-primary" (click)="enableEdit()">
                    Szerkesztés
                </button>
            </div>
        </form>
    </div>
</div>
