<div>
    <div class="row justify-content-center">
        <div class="col-md-8 card">
            <div class="card-body text-right">
                <h2 *ngIf="account" class="text-center">Adatlap</h2>

                <div class="alert alert-success" *ngIf="success">
                    <strong>Változtatások mentve!</strong>
                </div>

                <div class="alert alert-warning" *ngIf="settingsForm.get('firstName')?.invalid || settingsForm.get('lastname')?.invalid">
                    <strong>Töltsd ki az adataidat, hogy teljesértékűen használhasd az oldalt!</strong>
                </div>

                <form name="form" role="form" (ngSubmit)="save()" [formGroup]="settingsForm" *ngIf="account" novalidate>
                    <div class="form-group text-left">
                        <label class="form-control-label" for="firstName">Keresztnév</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="keresztneved helye"
                               formControlName="firstName">

                        <div *ngIf="settingsForm.get('firstName')!.invalid && (settingsForm.get('firstName')!.dirty || settingsForm.get('firstName')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="settingsForm.get('firstName')?.errors?.required">
                                Mező kitöltése kötelező
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="settingsForm.get('firstName')?.errors?.minlength">
                                Mező minimum 1 karakter hosszú lehet
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="settingsForm.get('firstName')?.errors?.maxlength">
                                Mező maximum 50 karakter hosszú lehet
                            </small>
                        </div>
                    </div>

                    <div class="form-group text-left">
                        <label class="form-control-label" for="lastName">Vezetéknév</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="vezetékneved helye"
                               formControlName="lastName">

                        <div *ngIf="settingsForm.get('lastName')!.invalid && (settingsForm.get('lastName')!.dirty || settingsForm.get('lastName')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="settingsForm.get('lastName')?.errors?.required">
                                Mező kitöltése kötelező
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="settingsForm.get('lastName')?.errors?.minlength">
                                A mező minimum 1 karakter hosszú lehet
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="settingsForm.get('lastName')?.errors?.maxlength">
                                A mező maximum 50 karakter hosszú lehet
                            </small>
                        </div>
                    </div>

                    <div class="form-group text-left">
                        <label class="form-control-label" for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="email címed helye"
                               formControlName="email">

                        <div *ngIf="settingsForm.get('email')!.invalid && (settingsForm.get('email')!.dirty || settingsForm.get('email')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="settingsForm.get('email')?.errors?.required">
                                Mező kitöltése kötelező
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="settingsForm.get('email')?.errors?.email">
                                A megadott email cím nem helyes
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="settingsForm.get('email')?.errors?.minlength">
                                A mező minimum 5 karakter hosszú lehet
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="settingsForm.get('email')?.errors?.maxlength">
                                A mező maximum 100 karakter hosszú lehet
                            </small>
                        </div>
                    </div>

                    <button type="submit" [disabled]="settingsForm.invalid" class="btn btn-primary">Mentés</button>
                </form>
            </div>
        </div>
    </div>
</div>
