<footer class="row justify-content-center align-items-center">
    <div class="w-auto px-2">
        <a href="https://www.facebook.com/maxmovestudio">
            <fa-icon [icon]="['fab', 'facebook-square']"></fa-icon>
        </a>
    </div>
    <div class="w-auto px-2 d-block d-sm-none">
        <a href="https://www.instagram.com/maxmovestudio/">
            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
        </a>
    </div>
    <div class="w-auto px-4 py-2">
        <a>Adatkezelési tájékoztató</a>
        <p class="m-0">Az oldal fejlesztője és üzemeltetője: <a href="https://redriver.hu">Redriver.hu</a></p>
    </div>
    <div class="w-auto px-2 d-none d-sm-block">
        <a href="https://www.instagram.com/maxmovestudio/">
            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
        </a>
    </div>
</footer>
