<form *ngIf="appUser" name="deleteForm" (ngSubmit)="confirmDelete(appUser?.id!)">
    <div class="modal-header">
        <h4 class="modal-title">Törlés megerősítése</h4>
    </div>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <p id="jhi-delete-appUser-heading">Biztosan törölni szeretnéd a(z) <span class="delete-item-name">{{appUser.internalUser!.lastName}} {{appUser.internalUser!.firstName}}</span> nevű felhasználót?</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="cancel()">
            Mégse
        </button>

        <button id="jhi-confirm-delete-appUser" type="submit" class="btn btn-danger">
            Törlés
        </button>
    </div>
</form>
