<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-application-user-heading" class="text-center">
                <span *ngIf="!editForm.get('id')!.value">Felhasználó létrehozása</span>
                <span *ngIf="editForm.get('id')!.value">Felhasználó szerkesztése</span>
            </h2>

            <div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sex">Nem</label>
                    <select class="form-control" name="sex" formControlName="sex" id="field_sex">
                        <option value="MAN">Férfi</option>
                        <option value="WOMAN">Nő</option>
                        <option value="OTHER">Egyéb</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_birthDay">Születési idő</label>
                    <div class="input-group pr-0">
                        <input id="field_birthDay" type="text" class="form-control" name="birthDay" ngbDatepicker
                               #birthDayDp="ngbDatepicker" formControlName="birthDay"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-primary btn-icon" (click)="birthDayDp.toggle()"><fa-icon
                                icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_googleToken">Google Token</label>
                    <input type="text" class="form-control" name="googleToken" id="field_googleToken"
                           formControlName="googleToken"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_facebookToken">Facebook Token</label>
                    <input type="text" class="form-control" name="facebookToken" id="field_facebookToken"
                           formControlName="facebookToken"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_image">Profilkép</label>
                    <div>
                        <img [src]="'data:' + editForm.get('imageContentType')!.value + ';base64,' + editForm.get('image')!.value"
                            style="max-height: 100px;" *ngIf="editForm.get('image')!.value" alt="appUser image"/>
                            <button type="button" *ngIf="editForm.get('image')!.value"
                                    (click)="clearInputImage('image', 'imageContentType', 'file_image')"
                                    class="btn btn-secondary btn-icon btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        <input type="file" id="file_image" (change)="setFileData($event, 'image', true)"
                               accept="image/*" class="input-group-text"/>
                    </div>
                    <input type="hidden" class="form-control" name="image" id="field_image"
                           formControlName="image"/>
                    <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                           formControlName="imageContentType"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_introduction">Bemutatkozás</label>
                    <input type="text" class="form-control" name="introduction" id="field_introduction"
                           formControlName="introduction"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_isTrainer">Oktató</label>
                    <input type="checkbox" class="form-control w-auto h-auto" name="isTrainer" id="field_isTrainer"
                           formControlName="isTrainer"/>
                    <div
                        *ngIf="editForm.get('isTrainer')!.invalid && (editForm.get('isTrainer')!.dirty || editForm.get('isTrainer')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('isTrainer')?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div
                    *ngIf="editForm.get('internalUserId')!.invalid && (editForm.get('internalUserId')!.dirty || editForm.get('internalUserId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('internalUserId')?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div class="text-right">
                <button type="button" id="cancel-save" class="btn btn-outline-secondary" (click)="previousState()">
                    Mégse
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                        class="btn btn-primary">
                    Mentés
                </button>
            </div>
        </form>
    </div>
</div>
