:host {
  text-align: right;

  h2 {
    width: 100%;
    text-align: center;
  }

  .date-range {
    display: inline-block;
    width: 250px;

    @media (max-width: 425px) {
      width: 150px;
    }
  }
}
