<button mat-raised-button color="primary" class="mt-3" *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity"
        [routerLink]="['/calendar/new']">
    Létrehozás
</button>

<h2 id="page-heading" class="mb-4">
    Órarend
</h2>

<div *ngIf="loading" class="app-loading">
    <div class="lds-css ng-scope">
        <div class="lds-pacman">
            <div><div></div><div></div><div></div></div>
            <div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>

<ng-container *ngIf="!loading">
    <div id="entities" class="text-left row justify-content-around text-center">
        <div class="col-12 px-0">
            <button mat-button color="primary" type="button" class="btn btn-link mr-3" [class.disabled]="isLeftDatePickerDisabled()" (click)="decreaseDatePicker()"><fa-icon icon="chevron-left"></fa-icon></button>
            <div class="date-range">
                <span class="font-weight-bold">
                    {{datePickerFirstDate | date: "MMMM d."}}
                </span>
                    <span *ngIf="isMultiDate()" class="font-weight-bold">
                    - {{datePickerLastDate | date: "MMMM d."}}
                </span>
            </div>

            <button mat-button color="primary" type="button" class="btn btn-link ml-3" (click)="increaseDatePicker()"><fa-icon icon="chevron-right"></fa-icon></button>
        </div>

        <div class="w-100"></div>

        <div class="col-12 px-0 row justify-content-center">
            <jhi-calendar-day-column class="mt-4" *ngFor="let date of getCalendarDates()"
                                     [date]="date"
                                     [events]="getEventsByDay(date)"
                                     [authorities]="authorities"
                                     [activeUserId]="activeUserId"
                                     (checkUserAuthentication)="emitAuthEvent()">
            </jhi-calendar-day-column>
        </div>
    </div>
</ng-container>

