<div>
    <h2 id="page-heading" class="text-center mb-5">Felhasználók</h2>

    <div *ngIf="loading" class="app-loading">
        <div class="lds-css ng-scope">
            <div class="lds-pacman">
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="appUsers?.length === 0 && !loading">
        <span>No appUsers found</span>
    </div>

    <div class="container text-center" id="entities" *ngIf="appUsers && appUsers.length > 0 && !loading">
        <div class="card" *ngFor="let appUser of appUsers ;trackBy: trackId">
            <div class="card-body row align-items-center">
                <div class="col-md-5 row align-items-center mx-0">
                    <div class="col-lg-5">
                        <a *ngIf="appUser.image"
                           (click)="openFile(appUser.imageContentType, appUser.image)">
                            <img [src]="'data:' + appUser.imageContentType + ';base64,' + appUser.image"
                                 style="max-height: 150px;"
                                 alt="{{appUser.internalUser!.lastName}}  {{appUser.internalUser!.firstName}} profilképe"/>
                        </a>
                    </div>
                    <div class="col-lg-7">
                        <div>
                            {{appUser.internalUser!.lastName}} {{appUser.internalUser!.firstName}}
                        </div>
                        <div>{{appUser.internalUser!.email}}</div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-6 row align-items-center mx-0">
                    <div class="col-lg-2">
                        <fa-icon *ngIf="appUser.isTrainer" icon="chalkboard-teacher"></fa-icon>
                    </div>
                    <div class="col-lg-6">
                        <button mat-raised-button color="primary" (click)="setActive(appUser.internalUser, true)"
                                *ngIf="!appUser.internalUser?.activated">Deaktivált
                        </button>
                        <button mat-raised-button color="primary" (click)="setActive(appUser.internalUser, false)"
                                *ngIf="appUser.internalUser?.activated"
                                [disabled]="!currentAccount || currentAccount.id === appUser.internalUser?.id">Aktivált
                        </button>
                    </div>
                    <div class="col-lg-4">
                        <mat-chip-list *ngFor="let authority of appUser.internalUser?.authorities">
                            <mat-chip color="primary" disabled>{{ authority }}</mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
                <div class="col-md-2 col-lg-1">
                    <button type="submit" [routerLink]="['./', appUser.id, 'view']" mat-mini-fab color="primary">
                        <fa-icon icon="eye"></fa-icon>
                    </button>

                    <button *ngIf="isAdmin()" type="button" (click)="delete(appUser)" mat-mini-fab color="primary" class="mt-1"
                            [disabled]="!currentAccount || currentAccount.id === appUser.internalUser?.id">
                        <fa-icon icon="trash"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
