<div>
    <h2>
        <span id="user-management-page-heading">Felhasználók (rendszeradatok)</span>

        <button class="btn btn-primary float-right jh-create-entity" [routerLink]="['./new']">
            Létrehozás
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="table-responsive" *ngIf="users">
        <table class="table table-striped" aria-describedby="user-management-page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
                    <th scope="col"  jhiSortBy="login"><span>Felhasználónév</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span>Email cím</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                    <th scope="col"><span>Jogosultságok</span></th>
                    <th scope="col" jhiSortBy="createdDate"><span>Létrehozva</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col" jhiSortBy="lastModifiedDate"><span>Utolsó módosítás</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col" jhiSortBy="lastModifiedBy"><span>Utolsó módosító</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody *ngIf="users">
                <tr *ngFor="let user of users; trackBy: trackIdentity">
                    <td>{{ user.login }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <button class="btn btn-outline-primary btn-sm" (click)="setActive(user, true)" *ngIf="!user.activated">Deaktivált</button>
                        <button class="btn btn-primary btn-sm" (click)="setActive(user, false)" *ngIf="user.activated"
                                [disabled]="!currentAccount || currentAccount.login === user.login">Aktivált</button>
                    </td>
                    <td>
                        <div *ngFor="let authority of user.authorities">
                            <span class="badge badge-primary">{{ authority }}</span>
                        </div>
                    </td>
                    <td>{{ user.createdDate | date:'yyyy.MM.dd. HH:mm' }}</td>
                    <td>{{ user.lastModifiedDate | date:'yyyy.MM.dd. HH:mm' }}</td>
                    <td>{{ user.lastModifiedBy }}</td>
                    <td class="text-right">
                            <button type="submit"
                                    [routerLink]="['./', user.login, 'view']"
                                    class="btn btn-primary btn-icon">
                                <fa-icon icon="eye"></fa-icon>
                            </button>

                            <button type="submit"
                                    [routerLink]="['./', user.login, 'edit']"
                                    queryParamsHandling="merge"
                                    class="btn btn-primary btn-icon">
                                <fa-icon icon="pen"></fa-icon>
                            </button>

                            <button type="button" (click)="deleteUser(user)"
                                    class="btn btn-primary btn-icon" [disabled]="!currentAccount || currentAccount.login === user.login">
                                <fa-icon icon="trash"></fa-icon>
                            </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="users">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="transition()"></ngb-pagination>
        </div>
    </div>
</div>
