:host {
  .contact-container {
    margin: 35px 30px;
    border: 2px solid black;

    div {
      margin: 25px -50px;
      padding: 25px;

      h3 {
        font-size: 17px;
        font-weight: 800;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}
