<h2 id="page-heading" class="text-center mb-4">Kapcsolat</h2>

<div class="w-100 m-0 px-2 mb-4 row justify-content-center">
    <div class="container col-12 col-md-10 col-lg-8 col-xl-6 row justify-content-around" id="entities">
        <mat-card class="contact-container col-12 col-md-4">
            <mat-card-header>
                <mat-card-title>Hibabejelentés</mat-card-title>
                <mat-card-subtitle><a href="mailto:tech-admin@redriver.hu">tech-admin@redriver.hu</a></mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</div>
