<div>
    <h2 id="page-heading">
        <span>Bérletek</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pass"
                [routerLink]="['/pass/new']">
            Létrehozás
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="passes?.length === 0">
        <span>No passes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="passes && passes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th scope="col"><span>Vásárlás időpontja</span></th>
                <th scope="col"><span>Elhasznált alkalmak</span></th>
                <th scope="col"><span>Érvényesség kezdete</span></th>
                <th scope="col"><span>Érvényesség vége</span></th>
                <th scope="col"><span>Bérlet típus</span></th>
                <th scope="col"><span>Felhasználó</span></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pass of passes ;trackBy: trackId">
                <td>{{ pass.purchased | date:'mediumDate' }}</td>
                <td>{{ pass.usageNo }}</td>
                <td>{{ pass.validFrom | date:'mediumDate' }}</td>
                <td>{{ pass.validTo | date:'mediumDate' }}</td>
                <td>
                    <div *ngIf="pass.passTypeId">
                        <a [routerLink]="['/pass-type', pass.passTypeId , 'view']">{{ pass.passTypeId }}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="pass.userId">
                        <a [routerLink]="['/application-user', pass.userId , 'view']">{{ pass.userId }}</a>
                    </div>
                </td>
                <td class="text-right">
                    <button type="submit"
                            [routerLink]="['/pass', pass.id, 'edit']"
                            class="btn btn-primary btn-sm">
                        Szerkesztés
                    </button>

                    <button type="submit" (click)="delete(pass)"
                            class="btn btn-danger btn-sm">
                        Törlés
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
