<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pass">
            <h2><span>Pass</span> {{ pass.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Purchased</span></dt>
                <dd>
                    <span>{{ pass.purchased }}</span>
                </dd>
                <dt><span>Usage No</span></dt>
                <dd>
                    <span>{{ pass.usageNo }}</span>
                </dd>
                <dt><span>Valid From</span></dt>
                <dd>
                    <span>{{ pass.validFrom }}</span>
                </dd>
                <dt><span>Valid To</span></dt>
                <dd>
                    <span>{{ pass.validTo }}</span>
                </dd>
                <dt><span>Pass Type</span></dt>
                <dd>
                    <div *ngIf="pass.passTypeId">
                        <a [routerLink]="['/pass-type', pass.passTypeId, 'view']">{{ pass.passTypeId }}</a>
                    </div>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    <div *ngIf="pass.userId">
                        <a [routerLink]="['/application-user', pass.userId, 'view']">{{ pass.userId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pass', pass.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
