<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" class="text-center text-md-right" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-pass-heading" class="text-center">{{!editForm.get('id')!.value ? "Jegy létrehozása" : "Jegy szerkesztése"}}</h2>

            <div class="text-left row">
                <div class="form-group col-md-6">
                    <label class="form-control-label" for="field_passType">Árlista elem</label>
                    <select class="form-control" id="field_passType" name="passType" formControlName="passTypeId">
                        <option *ngIf="!editForm.get('passTypeId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="passTypeOption.id" *ngFor="let passTypeOption of passtypes; trackBy: trackById">{{ getPassTypeNameById(passTypeOption.id) }}</option>
                    </select>
                    <div *ngIf="editForm.get('passTypeId')!.invalid && (editForm.get('passTypeId')!.dirty || editForm.get('passTypeId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('passTypeId')?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option *ngIf="!editForm.get('userId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="applicationUserOption.id" *ngFor="let applicationUserOption of applicationusers; trackBy: trackById">{{ applicationUserOption.id }}</option>
                    </select>
                    <div *ngIf="editForm.get('userId')!.invalid && (editForm.get('userId')!.dirty || editForm.get('userId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('userId')?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="form-control-label" for="field_purchased">Létrehozva</label>
                    <div class="input-group pr-0">
                        <input id="field_purchased" type="text" class="form-control" name="purchased" ngbDatepicker #purchasedDp="ngbDatepicker" formControlName="purchased"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-primary btn-icon" (click)="purchasedDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('purchased')!.invalid && (editForm.get('purchased')!.dirty || editForm.get('purchased')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('purchased')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="w-100"></div>

                <div class="form-group col-md-6">
                    <label class="form-control-label" for="field_validFrom">Érvényesség kezdete</label>
                    <div class="input-group pr-0">
                        <input id="field_validFrom" type="text" class="form-control" name="validFrom" ngbDatepicker #validFromDp="ngbDatepicker" formControlName="validFrom"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-primary btn-icon" (click)="validFromDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="form-control-label" for="field_validTo">Érvényesség vége</label>
                    <div class="input-group pr-0">
                        <input id="field_validTo" type="text" class="form-control" name="validTo" ngbDatepicker #validToDp="ngbDatepicker" formControlName="validTo"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-primary btn-icon" (click)="validToDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="form-control-label" for="field_usageNo">Felhasználva</label>
                    <input type="number" class="form-control" name="usageNo" id="field_usageNo"
                           formControlName="usageNo"/>
                    <div *ngIf="editForm.get('usageNo')!.invalid && (editForm.get('usageNo')!.dirty || editForm.get('usageNo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('usageNo')?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.get('usageNo')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-outline-secondary" (click)="previousState()">
                    Mégse
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    Mentés
                </button>
            </div>
        </form>
    </div>
</div>
