<div class="row justify-content-center pb-4">
    <div class="col-12 col-md-8 col-lg-6 col-xl-4">
        <form name="editForm" role="form" class="text-center text-md-right" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-pass-heading" class="text-center mb-4">{{!editForm.get('id')!.value ? "Bérlet létrehozása" : "Bérlet szerkesztése"}}</h2>

            <div class="text-left row">
                <div class="form-group col-md-6">
                    <label class="form-control-label" for="field_passType">Bérlet típus elem</label>
                    <select class="form-control" id="field_passType" name="passType" formControlName="passTypeId">
                        <option *ngIf="!editForm.get('passTypeId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="passTypeOption.id" *ngFor="let passTypeOption of passTypes; trackBy: trackById">{{ getPassTypeNameById(passTypeOption.id) }}</option>
                    </select>
                    <div *ngIf="editForm.get('passTypeId')!.invalid && (editForm.get('passTypeId')!.dirty || editForm.get('passTypeId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('passTypeId')?.errors?.required">
                            Mező kitöltése kötelező
                        </small>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="form-control-label" for="field_user">Felhasználó</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option *ngIf="!editForm.get('userId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="appUserOption.id" *ngFor="let appUserOption of appUsers; trackBy: trackById">{{ getUserNameById(appUserOption.id) }}</option>
                    </select>
                    <div *ngIf="editForm.get('userId')!.invalid && (editForm.get('userId')!.dirty || editForm.get('userId')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('userId')?.errors?.required">
                            Mező kitöltése kötelező
                        </small>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="form-control-label" for="field_purchased">Létrehozva</label>
                    <div class="px-3 pt-3">
                        <p id="field_purchased" class="font-weight-bold">{{editForm.get('purchased')!.value | date: "yyyy.MM.dd. HH:mm"}}</p>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="form-control-label" for="field_status">Fizetési státusz</label>
                    <select class="form-control" id="field_status" name="user" formControlName="paymentStatus">
                        <option *ngIf="!editForm.get('paymentStatus')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="paymentStatus.NEW.Value">{{ paymentStatus.NEW.Name }}</option>
                        <option [ngValue]="paymentStatus.WAITING.Value">{{ paymentStatus.WAITING.Name }}</option>
                        <option [ngValue]="paymentStatus.APPROVED.Value">{{ paymentStatus.APPROVED.Name }}</option>
                        <option [ngValue]="paymentStatus.PAID.Value">{{ paymentStatus.PAID.Name }}</option>
                        <option [ngValue]="paymentStatus.UNPAID.Value">{{ paymentStatus.UNPAID.Name }}</option>
                    </select>
                    <div *ngIf="editForm.get('paymentStatus')!.invalid && (editForm.get('paymentStatus')!.dirty || editForm.get('paymentStatus')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('paymentStatus')?.errors?.required">
                            Mező kitöltése kötelező
                        </small>
                    </div>
                </div>

                <div class="w-100"></div>

                <div class="form-group col-md-6">
                    <label class="form-control-label" for="field_validFrom">Érvényesség kezdete</label>
                    <div *ngIf="isEdit" class="input-group pr-0">
                        <input id="field_validFrom" type="text" class="form-control" name="validFrom" ngbDatepicker #validFromDp="ngbDatepicker" formControlName="validFrom"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-primary btn-icon" (click)="validFromDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="!isEdit" class="px-3">
                        <p class="font-weight-bold">{{editForm.get('validFrom')!.value | date: "yyyy.MM.dd."}}</p>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="form-control-label" for="field_validTo">Érvényesség vége</label>
                    <div *ngIf="isEdit" class="input-group pr-0">
                        <input id="field_validTo" type="text" class="form-control" name="validTo" ngbDatepicker #validToDp="ngbDatepicker" formControlName="validTo"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-primary btn-icon" (click)="validToDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="!isEdit" class="px-3">
                        <p class="font-weight-bold">{{editForm.get('validTo')!.value | date: "yyyy.MM.dd."}}</p>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="form-control-label" for="field_usageNo">Felhasználva (alkalom)</label>
                    <input type="number" class="form-control" name="usageNo" id="field_usageNo"
                           formControlName="usageNo"/>
                    <div *ngIf="editForm.get('usageNo')!.invalid && (editForm.get('usageNo')!.dirty || editForm.get('usageNo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('usageNo')?.errors?.required">
                            Mező kitöltése kötelező
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.get('usageNo')?.errors?.number">
                            Csak szám adható meg
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-outline-secondary" (click)="previousState()">
                    Mégse
                </button>

                <button *ngIf="isEdit" type="submit" id="save-entity" [disabled]="isSaving" class="btn btn-primary">
                    Mentés
                </button>

                <button *ngIf="!isEdit" type="button" id="sedit-entity" [disabled]="isSaving" class="btn btn-primary" (click)="enableEdit()">
                    Szerkesztés
                </button>
            </div>
        </form>
    </div>
</div>
