<mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row [ngSwitch]="isAuthenticated()">
        <a mat-button class="nav-link" routerLink="/activity-type">
            Kezdőlap
        </a>
        <a mat-button class="nav-link" routerLink="/calendar">
            Órarend
        </a>
        <a mat-button class="nav-link" routerLink="/trainers">
            Oktatók
        </a>
        <a mat-button class="nav-link" routerLink="/prices">
            Árak
        </a>
        <a mat-button class="nav-link" routerLink="/contact">
            Kapcsolat
        </a>
        <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
        <ng-container *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <a mat-button [matMenuTriggerFor]="adminMenu" class="admin-button">
                Admin
            </a>
            <mat-menu #adminMenu="matMenu" xPosition="after">
                <a mat-menu-item routerLink="admin/user-management" routerLinkActive="active">
                    <fa-icon icon="user" [fixedWidth]="true"></fa-icon>
                    <span>Felhasználók</span>
                </a>
                <a mat-menu-item routerLink="admin/pass" routerLinkActive="active">
                    <fa-icon icon="ticket-alt" [fixedWidth]="true"></fa-icon>
                    <span>Bérletek</span>
                </a>
                <ng-container *ngIf="!inProduction">
                    <a mat-menu-item routerLink="admin/tracker" routerLinkActive="active">
                        <fa-icon icon="eye" [fixedWidth]="true"></fa-icon>
                        <span>Aktivitások</span>
                    </a>
                </ng-container>
                <a mat-menu-item routerLink="admin/metrics" routerLinkActive="active">
                    <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
                    <span>Metrikák</span>
                </a>
                <a mat-menu-item routerLink="admin/health" routerLinkActive="active">
                    <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
                    <span>Egészség</span>
                </a>
                <a mat-menu-item routerLink="admin/configuration" routerLinkActive="active">
                    <fa-icon icon="list" [fixedWidth]="true"></fa-icon>
                    <span>Konfiguráció</span>
                </a>
                <a mat-menu-item routerLink="admin/audits" routerLinkActive="active">
                    <fa-icon icon="bell" [fixedWidth]="true"></fa-icon>
                    <span>Események</span>
                </a>
                <a mat-menu-item routerLink="admin/logs" routerLinkActive="active">
                    <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
                    <span>Naplózás</span>
                </a>
                <ng-container *ngIf="swaggerEnabled">
                    <a mat-menu-item routerLink="admin/docs" routerLinkActive="active">
                        <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                        <span>API</span>
                    </a>
                </ng-container>
                <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                <ng-container *ngIf="!inProduction">
                    <a mat-menu-item href='./h2-console' target="_tab">
                        <fa-icon icon="hdd" [fixedWidth]="true"></fa-icon>
                        <span>Adatbázis</span>
                    </a>
                </ng-container>
            </mat-menu>
        </ng-container>
        <ng-container *ngSwitchCase="true">
            <a mat-button [matMenuTriggerFor]="profileMenu">
                Profilom
            </a>
            <mat-menu #profileMenu="matMenu" xPosition="after">
                <a mat-menu-item routerLink="account/settings" routerLinkActive="active">
                    Profil szerkesztése
                </a>
                <a mat-menu-item routerLink="account/password" routerLinkActive="active">
                    Jelszó változtatás
                </a>
                <a mat-menu-item routerLink="account/my-events" routerLinkActive="active">
                    Közelgő óráim
                </a>
                <a mat-menu-item routerLink="account/my-passes" routerLinkActive="active">
                    Bérleteim
                </a>
                <a mat-menu-item (click)="logout()" id="logout">
                    Kijelentkezés
                </a>
            </mat-menu>
        </ng-container>
        <ng-container *ngSwitchCase="false" class="nav-item">
            <a mat-button (click)="login()" id="login" class="ml-auto">
                Bejelentkezés
            </a>
            <a mat-button routerLink="account/register" routerLinkActive="active">
                Regisztráció
            </a>
        </ng-container>
    </mat-toolbar-row>
</mat-toolbar>
