@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import './../../../content/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  margin: 14px 0;
  padding: 1px 0;
  height: 32px;
  background-color: $mv-navbar;
  box-shadow: 0 0 5px 3px $mv-shadow-primary;

  & > .navbar-collapse > ul {
    width: 100%;
  }

  .nav-item {
    position: relative;
    &.active {
      a.nav-link {
        padding: 7px;
        border: 3px solid #373128;
      }
    }

    a.nav-link {
      padding: 10px;
      font-weight: 700;

      @media (min-width: 992px) {
        width: 125px;
      }
    }

    ul.dropdown-menu {
      background-color: $mv-pastel-light;
      border-radius: 0;
      border: 0;
      box-shadow: 0 0 5px 5px $mv-shadow-primary;
      transform: translate(-49px, 50px) !important;
      color: $mv-text-dark;

      a.dropdown-item.active {
        background-color: $mv-navbar;
        color: $mv-text-dark;

        &:hover {
          background-color: #343a40;
          color: white;
        }
      }

      @media (max-width: 991px) {
        position: inherit !important;
        transform: none !important;
        box-shadow: none;
        text-align: center;
        width: 100%;
      }
    }
  }

  .navbar-brand {
    height: 30px;
    padding: 0;
  }

  .navbar-collapse {
    margin: 0 -1rem;
    background-color: $mv-navbar;
    text-align: center;
    z-index: 100;

    &:not(.show) {
      height: 32px;
    }

    &.show {
      box-shadow: 0 5px 5px 0px $mv-shadow-primary;
    }
  }

  a.nav-link {
    font-weight: 400;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 30px;
  width: 80px;
  margin: -3px 15px 0 15px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/maxmove-logo.png') no-repeat center center;
  background-size: contain;
}
