@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import './../../../content/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  margin: 14px 0;
  padding: 1px 1rem;
  height: 32px;
  background-color: $mv-navbar;
  box-shadow: 0 0 5px 3px #a78b66;

  & > .navbar-collapse > ul {
    width: 100%;
  }

  .nav-item {
    &.active {
      a.nav-link {
        padding: 7px;
        border: 3px solid #373128;
      }
    }

    a.nav-link {
      padding: 10px;
      font-weight: 700;
      @media (min-width: 768px) {
        width: 125px;
      }
    }
  }

  .navbar-brand {
    height: 30px;
    padding: 0;
  }

  .navbar-collapse {
    margin: 0 -1rem;
    background-color: $mv-navbar;
    text-align: center;
    z-index: 100;

    &:not(.show) {
      height: 32px;
    }

    &.show {
      box-shadow: 0 5px 5px 0px #a78b66;
    }
  }

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 400;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 30px;
  width: 30px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
  background-size: contain;
}
