<div>
    <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-application-user"
            [routerLink]="['/application-user/new']">
        Létrehozás
    </button>

    <h2 id="page-heading">
        <span>Felhasználók (személyes adatok)</span>
    </h2>

    <div class="alert alert-warning" id="no-result" *ngIf="applicationUsers?.length === 0">
        <span>No applicationUsers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="applicationUsers && applicationUsers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th scope="col"><span>Kép</span></th>
                <th scope="col"><span>Teljes név</span></th>
                <th scope="col"><span>Egységek</span></th>
                <th scope="col"><span>Oktató</span></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let applicationUser of applicationUsers ;trackBy: trackId">
                <td>
                    <a *ngIf="applicationUser.image"
                       (click)="openFile(applicationUser.imageContentType, applicationUser.image)">
                        <img [src]="'data:' + applicationUser.imageContentType + ';base64,' + applicationUser.image"
                             style="max-height: 30px;" alt="applicationUser image"/>
                    </a>
                </td>
                <td>{{ applicationUser.fullName }}</td>
                <td>{{ applicationUser.credit }}</td>
                <td class="text-center">
                    <fa-icon *ngIf="applicationUser.isTrainer" icon="times"></fa-icon>
                </td>
                <td class="text-right">
                    <button type="submit"
                            [routerLink]="['./', applicationUser.id, 'view']"
                            class="btn btn-primary btn-icon">
                        <fa-icon icon="eye"></fa-icon>
                    </button>

                    <button type="submit"
                            [routerLink]="['./', applicationUser.id, 'edit']"
                            queryParamsHandling="merge"
                            class="btn btn-primary btn-icon">
                        <fa-icon icon="pen"></fa-icon>
                    </button>

                    <button type="button" (click)="delete(applicationUser)"
                            class="btn btn-primary btn-icon" [disabled]="!currentAccount || currentAccount.id === applicationUser.internalUserId">
                        <fa-icon icon="trash"></fa-icon>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
