<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="applicationUser">
            <h2><span>Application User</span> {{ applicationUser.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Credit</span></dt>
                <dd>
                    <span>{{ applicationUser.credit }}</span>
                </dd>
                <dt><span>Sex</span></dt>
                <dd>
                    <span>{{ applicationUser.sex }}</span>
                </dd>
                <dt><span>Birth Day</span></dt>
                <dd>
                    <span>{{ applicationUser.birthDay }}</span>
                </dd>
                <dt><span>Google Token</span></dt>
                <dd>
                    <span>{{ applicationUser.googleToken }}</span>
                </dd>
                <dt><span>Facebook Token</span></dt>
                <dd>
                    <span>{{ applicationUser.facebookToken }}</span>
                </dd>
                <dt><span>Image</span></dt>
                <dd>
                    <div *ngIf="applicationUser.image">
                        <a (click)="openFile(applicationUser.imageContentType, applicationUser.image)">
                            <img [src]="'data:' + applicationUser.imageContentType + ';base64,' + applicationUser.image" style="max-width: 100%;" alt="applicationUser image"/>
                        </a>
                        {{ applicationUser.imageContentType }}, {{ byteSize(applicationUser.image) }}
                    </div>
                </dd>
                <dt><span>Introduction</span></dt>
                <dd>
                    <span>{{ applicationUser.introduction }}</span>
                </dd>
                <dt><span>Internal User</span></dt>
                <dd>
                    {{ applicationUser.internalUserId }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/application-user', applicationUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
