<div>
    <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-application-user"
            [routerLink]="['/application-user/new']">
        Létrehozás
    </button>

    <h2 id="page-heading">
        <span>Felhasználók nem rendszer szintű adatai</span>
    </h2>

    <div class="alert alert-warning" id="no-result" *ngIf="applicationUsers?.length === 0">
        <span>No applicationUsers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="applicationUsers && applicationUsers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th scope="col"><span>ID</span></th>
                <th scope="col"><span>Teljes név</span></th>
                <th scope="col"><span>Egységek</span></th>
                <th scope="col"><span>Nem</span></th>
                <th scope="col"><span>Születésnap</span></th>
                <th scope="col"><span>Google Token</span></th>
                <th scope="col"><span>Facebook Token</span></th>
                <th scope="col"><span>Kép</span></th>
                <th scope="col"><span>Bemutatkozás</span></th>
                <th scope="col"><span>Oktató</span></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let applicationUser of applicationUsers ;trackBy: trackId">
                <td><a [routerLink]="['/application-user', applicationUser.id, 'view']">{{ applicationUser.id }}</a>
                </td>
                <td>{{ applicationUser.fullName }}</td>
                <td>{{ applicationUser.credit }}</td>
                <td>{{ applicationUser.sex }}</td>
                <td>{{ applicationUser.birthDay | date:'mediumDate' }}</td>
                <td>{{ applicationUser.googleToken }}</td>
                <td>{{ applicationUser.facebookToken }}</td>
                <td>
                    <a *ngIf="applicationUser.image"
                       (click)="openFile(applicationUser.imageContentType, applicationUser.image)">
                        <img [src]="'data:' + applicationUser.imageContentType + ';base64,' + applicationUser.image"
                             style="max-height: 30px;" alt="applicationUser image"/>
                    </a>
                    <span *ngIf="applicationUser.image">{{ applicationUser.imageContentType }}
                        , {{ byteSize(applicationUser.image) }}</span>
                </td>
                <td>{{ applicationUser.introduction }}</td>
                <td>{{ applicationUser.isTrainer ? "X" : ""}}</td>
                <td class="text-right">
                    <button type="submit" [routerLink]="['/application-user', applicationUser.id, 'edit']"
                            class="btn btn-primary btn-sm">
                        Szerkesztés
                    </button>

                    <button type="submit" (click)="delete(applicationUser)" class="btn btn-danger btn-sm">
                        Törlés
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
