<div>
    <h2 id="page-heading">
        <span>Application Users</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-application-user" [routerLink]="['/application-user/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Application User
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="applicationUsers?.length === 0">
        <span>No applicationUsers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="applicationUsers && applicationUsers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Credit</span></th>
                    <th scope="col" ><span>Sex</span></th>
                    <th scope="col" ><span>Birth Day</span></th>
                    <th scope="col" ><span>Google Token</span></th>
                    <th scope="col" ><span>Facebook Token</span></th>
                    <th scope="col" ><span>Image</span></th>
                    <th scope="col" ><span>Introduction</span></th>
                    <th scope="col" ><span>Is Trainer</span></th>
                    <th scope="col" ><span>Internal User</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let applicationUser of applicationUsers ;trackBy: trackId">
                    <td><a [routerLink]="['/application-user', applicationUser.id, 'view']">{{ applicationUser.id }}</a></td>
                    <td>{{ applicationUser.credit }}</td>
                    <td>{{ applicationUser.sex }}</td>
                    <td>{{ applicationUser.birthDay | date:'mediumDate' }}</td>
                    <td>{{ applicationUser.googleToken }}</td>
                    <td>{{ applicationUser.facebookToken }}</td>
                    <td>
                        <a *ngIf="applicationUser.image" (click)="openFile(applicationUser.imageContentType, applicationUser.image)">
                            <img [src]="'data:' + applicationUser.imageContentType + ';base64,' + applicationUser.image" style="max-height: 30px;" alt="applicationUser image"/>
                        </a>
                        <span *ngIf="applicationUser.image">{{ applicationUser.imageContentType }}, {{ byteSize(applicationUser.image) }}</span>
                    </td>
                    <td>{{ applicationUser.introduction }}</td>
                    <td>{{ applicationUser.isTrainer }}</td>
                    <td>
                        {{ applicationUser.internalUserId }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/application-user', applicationUser.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/application-user', applicationUser.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(applicationUser)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
