@import '../../content/scss/variables';

/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
    background-size: contain;
  }
}

:host {
  text-align: right;

  .logo-img {
    display: block;
    width: 100px;
    height: auto;
    margin: auto;
  }

  ul {
    margin: 5vmin 0 10vmin 0;
    padding: 0;
    list-style: none;

    li {
      width: 100%;

      @media (min-width: 769px) {
        width: 50%;
      }

      @media (min-width: 1400px) {
        width: 33%;
      }

      .card {
        margin: 25px 0;
        padding: 20px 30px;
        border: none;
        background-color: $mv-navbar;
        box-shadow: 0 0 25px 0 $mv-shadow-primary;

        @media (min-width: 426px) {
          margin: 50px 0;
          padding: 40px 60px;
        }

        @media (min-width: 769px) {
          margin: 50px 0;
          padding: 20px 30px;
        }

        @media (min-width: 950px) {
          margin: 50px 0;
          padding: 40px 60px;
        }

        @media (min-width: 1200px) {
          top: calc(50% - 0.85em - 12px);
          font-size: 1.8rem;
        }

        .card-header {
          position: absolute;
          top: calc(50% - 0.7em - 12px);
          left: 0;
          border: 0;
          width: 100%;
          color: $mv-text-light;
          font-size: 1.4rem;
          text-align: center;
          background-color: rgba(0, 0, 0, 0);

          @media (min-width: 426px) {
            top: calc(50% - 0.85em - 12px);
            font-size: 1.8rem;
          }

          @media (min-width: 769px) {
            top: calc(50% - 0.7em - 12px);
            font-size: 1.4rem;
          }

          @media (min-width: 950px) {
            top: calc(50% - 0.85em - 12px);
            font-size: 1.8rem;
          }
        }

        .card-img {
          margin: -35px 0;
          padding: 20px;
          border: solid 3px #000;

          @media (min-width: 426px) {
            margin: -60px 0;
            padding: 40px;
          }

          @media (min-width: 769px) {
            margin: -30px 0;
            padding: 20px;
          }

          @media (min-width: 950px) {
            margin: -60px 0;
            padding: 40px;
          }

          img.activity-img {
            width: inherit;
            border: solid 10px #fff;
          }
        }
      }

      .card-edit {
        position: absolute;
        right: 0;
        top: 0;

        button.btn-icon {
          margin-top: 0.2rem;
        }
      }
    }
  }

  div.barion-container {
    position: absolute;
    width: 100vw;
    bottom: 0;
    right: -15px;
  }
}
