<button *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn btn-primary" [routerLink]="['/activity-type', 'new']">
    Létrehozás
</button>

<div *ngIf="loading" class="app-loading">
    <div class="lds-css ng-scope">
        <div class="lds-pacman">
            <div><div></div><div></div><div></div></div>
            <div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>

<div class="alert alert-warning text-center w-50 mx-auto mt-5" id="no-result" *ngIf="!loading && activityTypes?.length === 0">
    <span class="text-light">Még nincsenek foglalkozás típusok feltöltve</span>
</div>

<ul *ngIf="!loading && activityTypes!.length > 0" class="row justify-content-center align-items-center">
    <li class="col-12 col-lg-6 col-xl-4" *ngFor="let activityType of activityTypes; trackBy: trackId">
        <div class="card mx-md-3">
            <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="card-edit pr-1">
                <button type="submit" class="btn btn-icon btn-primary"
                        [routerLink]="['/activity-type', activityType.id, 'edit']">
                    <fa-icon icon="pen"></fa-icon>
                </button>
                <button class="btn btn-icon btn-primary" (click)="delete(activityType)">
                    <fa-icon icon="trash"></fa-icon>
                </button>
            </div>
            <a routerLink="/activity-type/{{activityType.id}}/activity">
                <div class="card-header">{{activityType.name}}</div>
                <div class="card-img">
                    <img class="activity-img"
                         src="data:{{activityType.imageContentType}};base64,{{activityType.image}}"
                         alt="">
                </div>
            </a>
        </div>
    </li>
</ul>

<div class="barion-container text-center text-lg-right">
    <img src="/content/images/barion-card-strip-intl_200px.png" class="barion" alt="barion logó"/>
</div>
