<div class="row justify-content-center">

    <div class="col-12">
        <button type="button" class="btn btn-link" (click)="previousState()">
            <fa-icon icon="chevron-left"></fa-icon>
            Vissza
        </button>
    </div>

    <div class="col-12 col-md-10 col-lg-8 col-xl-6">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-activity-type-heading"
                class="text-center">{{!editForm.get('id')?.value ? "Foglalkozás típus létrehozása" : "Foglalkozás típus áttekintése" }}</h2>

            <div class="my-4">
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Név</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div
                        *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required">
                            Mező kitöltése kötelező
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_image">Kép</label>
                    <div>
                        <img [src]="'data:' + editForm.get('imageContentType')!.value + ';base64,' + editForm.get('image')!.value"
                            style="max-height: 100px;" *ngIf="editForm.get('image')!.value" alt="activityType image"/>
                        <button type="button" *ngIf="editForm.get('image')!.value"
                                (click)="clearInputImage('image', 'imageContentType', 'file_image')"
                                class="btn btn-icon btn-danger btn-xs pull-right">
                            <fa-icon icon="trash"></fa-icon>
                        </button>
                        <input type="file" id="file_image" (change)="setFileData($event, 'image', true)"
                               accept="image/*" class="form-control-file"/>
                    </div>
                    <input type="hidden" class="form-control" name="image" id="field_image"
                           formControlName="image"/>
                    <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                           formControlName="imageContentType"/>
                    <div
                        *ngIf="editForm.get('image')!.invalid && (editForm.get('image')!.dirty || editForm.get('image')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('image')?.errors?.required">
                            Kép feltöltése kötelező
                        </small>
                    </div>
                </div>
            </div>

            <div class="text-center text-md-right">
                <button type="button" id="cancel-save" class="btn btn-outline-secondary" (click)="previousState()">
                    Mégse
                </button>

                <button type="submit" id="save-entity" [disabled]="isSaving"
                        class="btn btn-primary">
                    Mentés
                </button>
            </div>
        </form>
    </div>
</div>
