$mv-bg: #ecd0ab;
$mv-alert-bg: #f69a5e;

$mv-navbar: #f5e1da;

$mv-dark: #373128;

$mv-text-light: #fffaf1;
$mv-btn-primary: #e17f3d;
$mv-btn-hover-primary: #e76a17;
$mv-btn-activate-primary: #cd5200;
$mv-shadow-primary: #a78b66;

$mv-text-dark: #373128;
$mv-btn-light: #fffaf1;

$mv-success: #3b983b;
$mv-danger: #d63434;
$mv-rose: #f5e1da;
$mv-pastel: #dbc5b1;
$mv-pastel-light: #fffaf1;

$mv-border: #dfb898;
