.btn:not(.btn-link, #zmmtg-root *) {
  width: 175px;
  height: 35px;
  border-radius: 0;
  margin: 5px 0;
  box-shadow: 0 0 0.4rem $mv-shadow-primary;

  &.btn-icon {
    width: auto;
    height: auto;
    color: $mv-text-light;
    fa-icon * {
      color: $mv-text-light;
    }
  }

  &.btn-primary {
    color: $mv-text-light;
    background-color: $mv-btn-primary;
    border-color: $mv-btn-primary;

    &:hover {
      background-color: $mv-btn-hover-primary;
    }

    &:focus {
      box-shadow: 0 0 0.1rem 0.1rem opacify($mv-dark, 0.5);
    }

    &:active {
      background-color: $mv-btn-activate-primary !important;
      border-color: $mv-dark !important;
    }
  }

  &.btn-outline-primary {
    color: $mv-btn-primary;
    border-color: $mv-btn-primary;

    &:hover {
      color: $mv-text-light;
      background-color: $mv-btn-primary;
    }

    &:focus {
      box-shadow: 0 0 0.1rem 0.1rem opacify($mv-dark, 0.5);
    }

    &:active {
      background-color: $mv-btn-activate-primary !important;
      border-color: $mv-dark !important;
    }

    &.btn-icon {
      fa-icon * {
        color: $mv-btn-primary;
      }

      &:hover {
        fa-icon * {
          color: $mv-text-light;
        }
      }
    }
  }
}

.btn.btn-link:not(#zmmtg-root *) {
  color: $mv-text-dark;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
