* {
  color: $mv-dark;
  font-family: 'Poppins', sans-serif;

  &:focus {
    outline-color: $mv-shadow-primary;
  }
}
html {
  overflow: auto !important;
  min-width: 320px !important;

  body {
    background-color: $mv-bg;
    overflow: hidden !important;
    height: auto !important;
    width: 100% !important;
    min-width: 100% !important;
    position: relative;

    jhi-main {
      nav {
        z-index: 3;
      }

      .container-fluid {
        min-height: calc(100vh - 100px);

        .jh-card {
          min-height: calc(100vh - 140px);
        }
      }

      .card {
        border-radius: 0;
        background-color: $mv-bg;
        border: solid 1px $mv-pastel;
        box-shadow: 0 0 15px $mv-shadow-primary;
      }

      .badge.badge-primary {
        background-color: $mv-btn-primary;
      }
    }

    footer {
      margin-top: 6px;
      text-align: center;

      a > fa-icon > svg {
        width: 45px !important;
        height: 45px !important;
      }
    }

    .modal-content {
      background-color: $mv-bg;

      .modal-header {
        border: none;

        .modal-title {
          margin: auto;
        }
      }

      .modal-footer {
        border: none;
      }
    }
  }

  span.delete-item-name {
    font-weight: 900;
  }
}

.jh-card {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none !important;
  border: none !important;
}

.tooltip {
  opacity: 1 !important;
}
