.input-group {
  border: solid 1px $mv-pastel;
  box-shadow: 0 0 10px $mv-shadow-primary;
  background-color: $mv-pastel-light;
  padding-right: 5px;
  border-radius: 0.15em;

  input,
  .input-group-text {
    border: none !important;
    background-color: $mv-pastel-light;
    box-shadow: none;
  }
}

:not(.input-group) > input {
  border: solid 1px $mv-pastel !important;
  box-shadow: 0 0 10px $mv-shadow-primary !important;
  background-color: $mv-pastel-light !important;
}

input:not([type='checkbox']) {
  height: 50px !important;
  padding: 15px !important;

  &:-internal-autofill-selected {
    background-color: $mv-pastel !important;
  }

  &[type='file'] {
    height: 62px !important;
  }

  &[disabled] {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
    color: $mv-text-dark !important;
    font-weight: 700;
  }
}

input[type='checkbox'] {
  margin-top: 3px;
}

select.form-control {
  border: solid 1px $mv-pastel;
  box-shadow: 0 0 10px $mv-shadow-primary;
  background-color: $mv-pastel-light;
  border-radius: 0.15em;
  height: 50px !important;
  padding: 15px !important;
  overflow-y: auto;

  &[disabled] {
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: $mv-text-dark;
    font-weight: 700;

    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }

  &[multiple='multiple'] {
    height: 150px !important;
  }
}
