<div class="row justify-content-center">

    <div class="col-12">
        <button type="button" class="btn btn-link" (click)="previousState()">
            <fa-icon icon="chevron-left"></fa-icon>
            Vissza
        </button>
    </div>

    <div class="col-12 col-md-10 col-lg-8 col-xl-6">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-event-heading" class="text-center">{{!editForm.get('id')?.value ? "Esemény létrehozása" : "Esemény szerkesztése"}}</h2>

            <div class="my-4 row">
                <div class="form-group col-12 col-md-6">
                    <label class="form-control-label" for="field_activity">Foglalkozás</label>
                    <select class="form-control" id="field_activity" name="activity" formControlName="activityId" (ngModelChange)="setNevToFoglalkozas()">
                        <option *ngIf="!editForm.get('activityId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="activityOption.id" *ngFor="let activityOption of activities; trackBy: trackById">{{ activityOption.name }}</option>
                    </select>
                    <div *ngIf="editForm.get('activityId')!.invalid && (editForm.get('activityId')!.dirty || editForm.get('activityId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('activityId')?.errors?.required">
                            A mező kitöltése kötelező
                        </small>
                    </div>
                </div>

                <div class="form-group col-12 col-md-6">
                    <label class="form-control-label" for="field_name">Név</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div
                        *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required">
                            A mező kitöltése kötelező
                        </small>
                    </div>
                </div>

                <div class="w-100"></div>

                <div class="form-group col-12 col-md-6">
                    <label class="form-control-label" for="field_organizer">Szervező</label>
                    <select class="form-control" id="field_organizer" name="organizer" formControlName="organizerId">
                        <option *ngIf="!editForm.get('organizerId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="applicationUserOption.id"
                                *ngFor="let applicationUserOption of applicationUsers; trackBy: trackById">{{ applicationUserOption?.internalUser?.lastName }} {{ applicationUserOption?.internalUser?.firstName }}</option>
                    </select>
                    <div *ngIf="editForm.get('organizerId')!.invalid && (editForm.get('organizerId')!.dirty || editForm.get('organizerId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('organizerId')?.errors?.required">
                            A mező kitöltése kötelező
                        </small>
                    </div>
                </div>

                <div class="w-100"></div>

                <div class="form-group col-12 col-md-6">
                    <label class="form-control-label" for="field_start">Kezdés</label>
                    <div class="d-flex">
                        <input id="field_start" type="datetime-local" class="form-control" name="start"
                               formControlName="start" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div
                        *ngIf="editForm.get('start')!.invalid && (editForm.get('start')!.dirty || editForm.get('start')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('start')?.errors?.required">
                            A mező kitöltése kötelező
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.get('start')?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group col-12 col-md-6">
                    <label class="form-control-label" for="field_end">Befejezés</label>
                    <div class="d-flex">
                        <input id="field_end" type="datetime-local" class="form-control" name="end"
                               formControlName="end" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div
                        *ngIf="editForm.get('end')!.invalid && (editForm.get('end')!.dirty || editForm.get('end')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('end')?.errors?.required">
                            A mező kitöltése kötelező
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.get('end')?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="w-100"></div>

                <div class="form-group col-12 col-md-6">
                    <label class="form-control-label" for="field_streamLinkType">Óra helyszíne</label>
                    <select class="form-control" name="streamLinkType" formControlName="streamLinkType" id="field_streamLinkType"
                            [attr.disabled]="editForm.get('streamLinkType')?.value === linkType.ONLINE && editForm.get('streamLink')?.value?.length > 0 ? '' : null">
                        <option [value]="linkType.ONLINE">{{linkType.ONLINE.Name}}</option>
                        <option [value]="linkType.STUDIO">{{linkType.STUDIO.Name}}</option>
                        <option [value]="linkType.MARGARET_ISLAND">{{linkType.MARGARET_ISLAND.Name}}</option>
                        <option [value]="linkType.OTHER">{{linkType.OTHER.Name}}</option>
                    </select>
                </div>

                <div class="form-group col-12 col-md-6">
                    <label class="form-control-label" for="field_streamLink">Link</label>
                    <input type="text" class="form-control" name="streamLink" id="field_streamLink"
                           [attr.disabled]="editForm.get('streamLinkType')?.value === 'ONLINE' ? '' : null"
                           formControlName="streamLink"/>
                </div>

                <div class="w-100"></div>

                <div class="form-group col-12 col-md-6">
                    <label class="form-control-label" for="field_limit">Limit</label>
                    <input type="number" class="form-control" name="limit" id="field_limit"
                           formControlName="limit"/>
                </div>

                <div class="form-group col-12 col-md-6">
                    <label for="field_participants">Résztvevők</label>
                    <select class="form-control" id="field_participants" multiple name="participants"
                            formControlName="participants">
                        <option [ngValue]="getSelected(editForm.get('participants')!.value, applicationUserOption)"
                                *ngFor="let applicationUserOption of applicationUsers; trackBy: trackById">{{ applicationUserOption?.internalUser?.lastName }} {{ applicationUserOption?.internalUser?.firstName }}</option>
                    </select>
                </div>
            </div>

            <div class="form-group col-12">
                <label class="form-control-label" for="field_comment">Megjegyzés / leírás</label>
                <textarea type="text" class="form-control" name="comment" id="field_comment" formControlName="comment">
                </textarea>
            </div>

            <div class="text-center text-md-right mt-5">
                <button type="button" id="cancel-save" class="btn btn-outline-secondary" (click)="previousState()">
                    Mégse
                </button>

                <button type="submit" id="save-entity" [disabled]="isSaving"
                        class="btn btn-primary">
                    Mentés
                </button>
            </div>
        </form>
    </div>
</div>
