<div class="modal-header mt-4">
    <h4 class="modal-title">Bejelentkezés</h4>
</div>

<div class="modal-body mb-4">
    <div class="row justify-content-center">
        <div class="col-11">
            <div class="alert alert-danger" *ngIf="authenticationError">
                <strong>Sikertelen bejelentkezés!</strong> Ellenőrizd a bejelentkezési adataid és próbáld újra.
            </div>
        </div>

        <div class="col-11 text-center">
            <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
                <div class="form-group text-left">
                    <label class="username-label" for="username">Email cím</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Email cím"
                          autocomplete="email" formControlName="username" #username>
                </div>

                <div class="form-group text-left">
                    <label for="password">Jelszó</label>
                    <input type="password" class="form-control" name="password" id="password"
                           autocomplete="current-password" placeholder="Your password" formControlName="password">
                </div>

                <div class="form-check text-center my-2">
                    <label class="form-check-label pl-2 pr-4 mr-5" for="rememberMe">
                        <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe"
                               formControlName="rememberMe">
                        <span>Emlékezz rám</span>
                    </label>
                    <a class="btn btn-link btn-sm" (click)="requestResetPassword()">Elfelejtetted a jelszavad?</a>
                </div>


                <button type="submit" class="btn btn-primary">Bejelentkezés</button>
            </form>

            <p class="my-4">vagy</p>

            <p>Még nincs fiókod?</p>
            <a class="btn btn-primary" (click)="register()">Regisztráció</a>
        </div>
    </div>
</div>
